@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 0;
}

* {
    color: #FFF;
    font-family: Open Sans;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 950px;
    margin: auto;
    padding: 50px 25px;
}

#home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 58, 109, 0.00) 76.68%, #304A7B 97.35%), linear-gradient(180deg, rgba(255, 255, 255, 0.87) 0%, rgba(255, 255, 255, 0.90) 0.01%, rgba(255, 255, 255, 0.00) 51.45%), url("img/bg.jpg") center, lightgray 0px -3.985px / 100% 108.778% no-repeat;
    background-size: cover;
}

#home-content {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    background-color: #304A7B;
    background: radial-gradient(71.83% 64.23% at 49.17% 64.67%, rgba(89, 185, 255, 0.80) 0%, rgba(74, 179, 255, 0.00) 89.06%), #304A7B;
    position: relative;
}

#home-about {
    width: 100%;
    max-width: 900px;
    border-radius: 20px;
    border: 2px solid #8FB6FF;
    background: #FFF;
    box-shadow: 10px 10px 0px 0px #8FB6FF;
    margin-top: -150px;
    padding: 50px 60px;
    text-align: center;
}

#home-about * {
    color: black;
}

#home-about p {
    margin: 0;
    text-align: justify;
    font-size: 18px;
    line-height: 35px;
}

#home-about a {
    color: #007837;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    margin: auto;
    text-decoration: none;
    transition: all 0.2s;
    margin-top: 30px;
}

#home-about a:hover {
    font-weight: 700;
}

#header {
    width: 100%;
    height: 200px;
}

#header #logo {
    width: 250px;
    position: absolute;
    top: 30px;
    left: 50px;
}

#linhas-pesquisa {
    width: 100%;
    margin-top: 80px;
}

#linhas-pesquisa h1 {
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

#linhas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

#linha1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40.58%, rgba(0, 0, 0, 1) 99.91%), url('img/exploracao.jpg'), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
}

#linha2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40.58%, rgba(0, 0, 0, 1) 99.91%), url('img/transporte.jpg'), lightgray 50% / cover no-repeat;
    background-size: cover;
}

#linha3 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40.58%, rgba(0, 0, 0, 1) 99.91%), url('img/energia.jpg'), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: left;
}

#linha4 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40.58%, rgba(0, 0, 0, 1) 99.91%), url('img/carbono.jpg'), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;

}

#linha5 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40.58%, rgba(0, 0, 0, 1) 99.91%), url('img/nanotecnologia.jpg'), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
}

#linha6 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40.58%, rgba(0, 0, 0, 1) 99.91%), url('img/biotecnologia.jpg'), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;

}

.botao-linha {
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px #FFF;
    transition: all 0.5s;
    cursor: pointer;
    background-color: #304A7B;
}

.botao-linha:hover {
    transform: translateX(-10px) translateY(-10px);
    box-shadow: 10px 10px 0px 0px #FFF;
}

.botao-linha {
    box-shadow: 0px 0px 0px 0px #304A7B;
}

#page .botao-linha:hover {
    box-shadow: 10px 10px 0px 0px #304A7B;
}

.l1 {
    width: 280px;
    height: 280px;
}

.l2 {
    width: 435px;
    height: 240px;
}

.botao-linha h2 {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 25px 25px;
    font-size: 16px;
}

#instagram {
}

#instagram h1 {
    color: #2C8251;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

#instagram figure {
    margin: 50px 0;
}

#apoio {
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    border: 2px solid #007837;
    box-shadow: 10px 10px 0px 0px #007837;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
}

#rodape {
    background:#304A7B;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0 0;
    flex-wrap: wrap;
}

#rodape .container {
    padding: 0;
}

#rodape h2 {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 30px;
}

#rodape p {
    text-align: center;
    width: 100%;
}

#rodape iframe {
    border-radius: 20px;
}

#rodape #contato {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#rodape #contato>div {
    text-align: center;
    min-width: 200px;
    margin: 20px;
}

#burger {
    width: 70px;
    height: 55px;
    position: absolute;
    top: 50px;
    right: 70px;
}

/* nav-icon-5 */
  .nav-icon-5{
    width: 80px;
    height: 55px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    z-index: 10;
    transition: all 0.5s;
  }
  .nav-icon-5 span{
    background-color:#000;
    position: absolute;
    border-radius: 10px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 7px;
    transition-duration: 500ms
  }
  .nav-icon-5 span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .nav-icon-5 span:nth-child(2){
    top: 24px;
    left: 0px;
    opacity:1;
  }
  .nav-icon-5 span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  .nav-icon-5:not(.open):hover span:nth-child(1){
    transform: scaleY(1.2);
  }
  .nav-icon-5:not(.open):hover span:nth-child(2){
    transform: scaleY(1.2);
  }
  .nav-icon-5:not(.open):hover span:nth-child(3){
    transform: scaleY(1.2);
  }
  .nav-icon-5.open span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;
  }
  .nav-icon-5.open {
    position: fixed;
  }
  .nav-icon-5.open span:nth-child(2){
    opacity:0;
  }
  .nav-icon-5.open span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
  }

#menu {
    max-width: 500px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -500px;
    z-index: 9;
    transition: all 0.5s;
    border-left: 2px solid #007837;
}
#menu.open {
    right: 0;
}

#menu nav {
    margin: 50px;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#menu li {
    list-style-type: none;
}
#menu li a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
}

#menu li a:hover {
    font-weight: 700;
    color: #304A7B;
}

.selected {
    font-weight: 700;
    color: #304A7B;
}

#menu {

}





/* PAGINAS */

#page {
    background: linear-gradient(180deg, #FFF 0%, #E9F0FF 15.67%);
    padding-bottom: 50px;
}

#page #header {
    width: 100%;
}

#page #header {
    height: 120px;
}

#page #header h1 {
    text-align: center;
    color: #304A7B;
    margin: 70px auto 0;
    text-transform: uppercase;
    max-width: 500px;
}

#page #page-content {
    border-radius: 20px;
    border: 2px solid #8FB6FF;
    background: #FFF;
    box-shadow: 10px 10px 0px 0px #8FB6FF;
    margin: 40px auto 10px;
    max-width: 900px;
    width: 100%;
    padding: 30px 50px;
}

#page #page-content * {
    color: black !important;
}

#page #page-content h2 {
    color:#007837 !important;
    font-size: 16px;
    margin: 40px 0 30px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

#page #page-content h3 {
    color:#304A7B !important;
    font-size: 15px;
    margin: 40px 0 30px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

#page #page-content p {
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
}

#page #page-content img {
    width: 80%;
    display: block;
    margin: auto;
    margin: 50px auto;
    border-radius: 20px;
}

#page #page-content li::marker {
    color: #007837;
}

#page #page-content li {
    padding: 5px 15px 5px 0px;
}

#page #page-content a {
    text-decoration: none;
    color: #304A7B !important;
    font-weight: 700;
}


#page #page-content a:hover {
    text-decoration: underline;
}

#page-content {
    width: 100%;
}

#page-content .discentes,
#page-content .equipe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#page-content .membro {
    width: calc(25% - 20px);
    min-width: 180px;
}

#page-content .discentes img, 
#page-content .equipe img {
    width: 100% !important;
    height: 250px;
    object-fit: cover;
    margin: 0 !important;
    border-radius: 15px;
    border: 2px solid #304A7B;
}

#page-content .equipe .membro .infos {
    margin: 20px;
}

#page-content .discentes h3 {
    margin-top: 20px !important;
    text-align: left !important;
}

#page-content .equipe h3 {
    margin: 0 !important;
    margin-top: 20px !important;
    text-align: left !important;
}

#page-content .equipe h4 {
    margin: 5px 0px !important;
    text-align: left !important;
    font-size: 14px !important;
    font-weight: 600;
}

#page-content .equipe h5 {
    margin: 5px 0px !important;
    text-align: left !important;
    font-size: 14px !important;
    font-weight: 500;
    word-break: break-all;
}

#menu {
    color:#304A7B
}


@media (max-width: 750px) {
    #home-about p {
        line-height: 30px;
    }
    #home-about {
        padding: 30px 40px;
        margin-top: -200px;
    }

    #header #logo {
        width: 180px;
        top: 25px;
        left: 35px;
    }

    #burger {
        top: 20px;
        right: 35px;
    }
    .icon.nav-icon-5,
    .icon.nav-icon-5.open {
        transform: scale(0.8);
    }
    
    #page #page-content {
        padding: 20px 30px;
    }  

    #page #header {
        height: 70px;
    }

    #page #header h1 {
        margin-top: 160px;
    }

    #page-content .membro {
        height: 320px;
    }

  }